docker-compose.yml export-ignore
.github export-ignore
docs export-ignore
backend/tests export-ignore
docker-compose.yml export-ignore
.github export-ignore
docs export-ignore
backend/tests export-ignore
